@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary: #f1039d;
  --color-secondary: #ffb21d;
  --color-white: #ffffff;
  --color-black: #271511;
}

body {
  font-family: "Montserrat", sans-serif;
}