@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primary: #f1039d;
  --color-secondary: #ff458d;
  --color-tertiary: #ffb21d;
  --color-white: #ffffff;
  --color-black: #271511;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

h4 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}